name: Get Environment Variables

on: 
  workflow_dispatch:
    inputs:
      environment:
        description: 'The environment to deploy to'
        required: true
        type: environment

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Dump GitHub context
      env:
        GITHUB_CONTEXT: ${{ toJson(github) }}
      run: echo "$GITHUB_CONTEXT"

    - name: Fetch environment variables
      id: fetch-vars
      uses: actions/github-script@v7
      with:
        github-token: ${{ secrets.REPOSITORY_ACCESS_TOKEN }}
        script: |
          const { data } = await github.rest.actions.listEnvironmentVariables({
            repository_id: ${{ github.repository_id }},
            environment_name: '${{ inputs.environment }}'
          });
          for (let var of data.variables) {
           core.setOutput(var.name, var.value);
          }

    - name: Use the Variables
      run: echo "The environment variable AWS_PROFILE_NAME is ${{ steps.fetch-vars.outputs.AWS_PROFILE_NAME }}"